<h4><%= t('blacklight.welcome') %></h4>
<p>this is the home page, do some home page stuff.</p>
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f8/King_Charlemagne_receiving_the_Oath_of_Fidelity_and_Homage_from_one_of_his_great_Feudatories_or_High_Barons.png/760px-King_Charlemagne_receiving_the_Oath_of_Fidelity_and_Homage_from_one_of_his_great_Feudatories_or_High_Barons.png" height="400" width="400"/>
<% #Creates a bit space in the page -%>

