<!--<h4><%= t('blacklight.welcome') %></h4>-->
<h3>Artdealer</h3>
<h4>Posters, Prints, Toys and more</h4>
<p></p>
<img src="http://upload.wikimedia.org/wikipedia/commons/f/f6/Norblin_-_Marchand_d%27images.jpg" height=50% width=50%/>
<% #Creates a bit space in the page -%>

