@import 'bootstrap';
@import 'bootstrap-responsive';

@import 'blacklight/blacklight';

.index_title {
  max-width: none;
}

.doc_image_block{
  width: 45%;
  float: left;	
}

.doc_details_block{
  width: 55%;	
  float: right;
}


.buy_me{
  margin-left: 50%;
}

.doc_img{
  max-width: 350px;
  margin-bottom: 35px;

}